/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2019, 1:49:46 PM
    Author     : zdy
*/
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #ffffff;
    font-family: Tilde;
}

select, option, input{
    font-family: Tilde;
}

.textRed{
    color: red;
}

.hidden{
    display: none;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #0c0c27;
}

.login-box h1{
    float: left;
    color: #0c0c27;
    font-size: 40px;
    border-bottom: 6px solid #0c0c27;
    margin-bottom: 50px;
    padding: 13px 0;
}

.username-div{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 40px 0;
    border-bottom: 1px solid #0c0c27;
}

.password-div {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 40px 0;
    border-bottom: 1px solid #0c0c27;
}

.username-div i{
    width: 26px;
    float: left;
    text-align: center;

}

.password-div i{
    width: 26px;
    float: left;
    text-align: center;
}

.username-div input{
    border: none;
    outline: none;
    background: none;
    color: #0c0c27;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.password-div input{
    border: none;
    outline: none;
    background: none;
    color: #0c0c27;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.signup-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #0c0c27;
}
.signup-box h1{
    float: left;
    color: #0c0c27;
    font-size: 40px;
    border-bottom: 6px solid #0c0c27;
    margin-bottom: 50px;
    padding: 13px 0;
}

.signup-inputs{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #0c0c27;
}
.name-div{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 40px 0;
    border-bottom: 1px solid #0c0c27;
}
.email-div{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 40px 0;
    border-bottom: 1px solid #0c0c27;
}
.name-div input{
    border: none;
    outline: none;
    background: none;
    color: #0c0c27;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.email-div input{
    border: none;
    outline: none;
    background: none;
    color: #0c0c27;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.button{
    width: 100%;
    background: none;
    border: 2px solid #0c0c27;
    color: #0c0c27;
    padding: 5px;
    font-size: 18px;
    margin: 20px 0;
}

.button:hover{
    width: 100%;
    background: #4ae;
    border: 2px solid #4ae;
    color: #ffffff;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: #0c0c27;
}
a:hover{
    color: #4ae;
}
.nav-div{
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.nav-bar{
    background-color: #0c0c27;
    overflow: hidden;
}


.homePage{
    float: left;
    margin: 15px 5px;
}

.homePage a{
    color: #ffffff;
}
.homePage a:hover{
    color: #4ae;
}

.login-signup a{
    color: #ffffff;
    display: block;
    float: right;
    margin: 15px 5px;
}

.login-signup a:hover{
    color: #4ae;
}
.user-menu{
    position: absolute;
    left: 50%;
    margin: 15px 5px;
    transform: translate(-50%);
}
.user-menu a{
    margin: 0px 5px;
    color: #ffffff;
}

.user-menu a:hover{
    color: #4ae;
}

#home-search{
    width: 500px;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 50%;
    background: #f0f0f5;
    transform: translate(-50%,-50%);
    color: #0c0c27;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#home-search div{
    float: left;
    width: 33%;
    padding: 10px;
}
#home-search input{
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}
#fprice{
    border: 1px solid #0c0c27;
    outline: none;
}

#home-search select{
    cursor: pointer;
    outline: none;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #0c0c27;
    border-radius: 5px;
}

.SearcButton{
    background: #ffffff;
    padding: 5px;
    border: 2px solid #0c0c27;
    outline: none;
    color: #0c0c27;
}

.SearcButton:hover{
    cursor: pointer;
    background-color: #4ae;
    color: #ffffff;
    border-color: #4ae;
}

#formAddNewCar{
    width: 400px;
    display: inline-block;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,10%);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f5;
}

#formAddNewCar div{
    width: 50%;
    float: left;
    padding: 10px;
}

#formAddNewCar select{
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #0c0c27;
    border-radius: 5px;
    outline: none;
}

div input{
    width: 100%;
}

input[type=file]{
    display: none;
}

label{
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    display: block;
    border: 2px solid #0c0c27;
    border-radius: 5px;
    background: #ffffff;
}
label:hover{
    background: #4ae;
    border-color: #4ae;
    color: #ffffff;
}
textarea{
    border: 1px solid #0c0c27;
    border-radius: 5px;
    resize: none;
    width: 100%;
    height: 190px;
    outline: none;
    padding: 5px;
}

#addButton{
    background: #ffffff;
    height: 50px;
    display: block;
    width: 380px;
    margin: auto;
    padding: 5px;
    border: 2px solid #0c0c27;
    outline: none;
    color: #0c0c27;
    margin-bottom: 10px;
}

#addButton:hover{
    background: #4ae;
    border-color: #4ae;
    color: #ffffff;
}

.gallery {
    text-align: center;
}

.gallery img {
    transition: 1s;
    padding: 5px;
    width: 120px;
    height: 100px;
    
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.editAd_div{
    width: 700px;
    position: relative;
    top: 80px;
    left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f0f0f5;
}

#formSavingEditedAd .editAdDivMenu, #description_div{
    float: left;
    width: 50%;
    padding: 10px;
}

#description_div textarea{
    width: 100%;
    height: 305px;
}

.editAdDivMenu select, input{
    cursor: pointer;
    width: 75%;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #0c0c27;
    border-radius: 5px;
    outline: none;
}

 .editAdButtons{
    position: relative;
    background-color: #ffffff;
    left: 10px;
    bottom: -10px;
    display: block;
    border: 2px solid #0c0c27;
    color: #0c0c27;
    padding: 5px;
    font-size: 18px;
    margin: 20px 0;
    width: 33%;
}

.editAdButtons:hover{
    width: 33%;
    background: #4ae;
    border: 2px solid #4ae;
    color: #ffffff;
    cursor: pointer;
}

.search_div{
    background: #ffffff;
    width: 900px;
    position: relative;
    left: 10px;
    top: 10px;
}

.search_div table{
    border-collapse: collapse;
    width: 100%;
}

table tr{
    float: left;
    width: 50%;
    border: 1px solid #ccc;
    background: #f0f0f5;
    
}

table td{
    vertical-align: middle;
    width: 33%;
    font-size: 13px;
}

table th{
    width: 100%;
    vertical-align: top;
    background: #f0f0f5;
    padding: 5px;
    color: #ffffff;
}

th div{
    background: #ff9900;
}

.search_div img{
    margin: 10px;
    
}
.myAd{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.myAdBrandModel{
    text-align: center;
    padding: 5px;
}

.Ad{
    width: 50%;
    position: relative;
    left: 50px;
    top: 50px;
}

.Images{
    float: left;
    width: 50%;
    display: inline-block;
}

.Description{
    padding: 5px;
    float: left;
    width: 50%;
}

.description{
    clear: both;
    padding: 10px 0px 0px 0px;
}

#descTitle{
    border-bottom: 1px solid #ccc;
}
.main img{
    width: 100%;
}

.thumbs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbs li{
    width: 15%;
    padding: 2px;
}

.thumbs li img{
    width: 100%;
}




/*
h1 {
    color:#0c0c27;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    float: left;
    width: 200px;
    color: #ffffff;
    background: #0c0c27;
    line-height: 30px;
    text-align: center;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
a{
    margin: 12px 0;
    text-decoration: none;
    font-size: 22px;
}
a:link, a:visited{
    color: #ffffff;
    background: none;
    padding: 5px;
    font-size: 18px;
    margin: 12px 0;    
}
a:hover{
    color: #4ae;
    cursor: pointer;
}



.title{
    color: #FCA400;
    width: 600px;
}

#home-search{
    float: left;
}



.nav-bar{
    padding: 12px 0;
    background: #0c0c27;
    height: 8vh;
}
a i{
    float: left;
    font-size: 22px;
}

.CarAdsHandler a{
    border: none;
    color: #4ae;
}
.CarAdsHandler a:hover{
    background-color: #4ae;
    color: #ffffff;
}
#buttons{
    width: 200px;
    background: none;
    border: 2px solid #0c0c27;
    color: #0c0c27;
    padding: 5px;
    font-size: 18px;
    margin: 20px 0;
}
#buttons:hover{
    background-color: #4ae;
    border-color: #4ae;
    color: #ffffff;
    cursor: pointer;
}

.login-signup{
    float: right;
}

.user-menu{
    position: absolute;
    left:50%;
    
}
.lb-next{
    display: block;
}
*/